In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
7%4

3

In [7]:
50%5

0

20%2

In [9]:
20%2

0

In [10]:
3**4

81

In [11]:
2**3

8

In [12]:
(100-50)*2

100

In [13]:
6*6

36

In [14]:
a=30.1

In [15]:
type(a)

float

In [16]:
'hello'

'hello'

In [17]:
"world"

'world'

In [18]:
'this is also a string'

'this is also a string'

In [19]:
mystring = 'Hello World'

In [20]:
mystring

'Hello World'

In [24]:
mystring[0:7]

'Hello W'

In [25]:
'Hello World'[8]

'r'

In [26]:
clc

NameError: name 'clc' is not defined

In [27]:
name="Sam"

In [28]:
name[1:]

'am'

In [29]:
last_letters=name[1:]

In [30]:
last_letters

'am'

In [32]:
'P'+last_letters

'Pam'

In [34]:
print ("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [35]:
name='sam'
age='22'

In [36]:
print(f'{name} is {age} years old.')

sam is 22 years old.

In [38]:
print('Python {r}'.format(r='rules'))

Python rules

In [41]:
print('Python {}'.format('rules!'))

Python rules!

In [42]:
mylist=[1,2,3,4]

In [43]:
mylist

[1, 2, 3, 4]

In [44]:
mylist.pop(2)

3

In [45]:
mylist

[1, 2, 4]

In [46]:
mylist+[3]

[1, 2, 4, 3]

In [47]:
mylist.append(7)

In [48]:
mylist

[1, 2, 4, 7]

In [49]:
mylist.append(4)

In [50]:
mylist

[1, 2, 4, 7, 4]

In [51]:
mylist=mylist+[-1]

In [52]:
mylist

[1, 2, 4, 7, 4, -1]

In [53]:
mylist.reverse()

In [54]:
mylist

[-1, 4, 7, 4, 2, 1]

In [55]:
mylist.sort()

In [56]:
mylist

[-1, 1, 2, 4, 4, 7]

In [58]:
mylist.reverse()

In [59]:
mylist

[7, 4, 4, 2, 1, -1]

In [60]:
mylist.sort()

In [61]:
mylist

[-1, 1, 2, 4, 4, 7]

In [62]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [63]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [64]:
my_dict['key1']

'value1'

In [65]:
t=(1,2,3)

In [66]:
t

(1, 2, 3)

In [68]:
t.count(1)

1

In [69]:
t=(1,1,2,2,2,3)

In [70]:
t.count(2)

3

In [71]:
t.

SyntaxError: invalid syntax (<ipython-input-71-959ed0d796df>, line 1)

In [74]:
t.index(2)

2

In [75]:
myset=set()

In [76]:
myset

set()

In [77]:
myset.add(1)

In [78]:
myset

{1}

In [80]:
myset.add(2)

In [81]:
myset

{1, 2}

In [82]:
myset.add(2)

In [83]:
myset

{1, 2}

In [84]:
mylist = [1,1,1,1,1,2,2,2,3,3,3]

In [85]:
set(mylist)

{1, 2, 3}

In [86]:
True

True

In [88]:
type(False)

bool

##

In [89]:
1>2

False

In [90]:
1==1

True

In [91]:
b=None

In [92]:
b

In [93]:
set([1,1,2,3])

{1, 2, 3}